.nav-header {
  .bg-header {
    background-color: #20232a;
  }
  .navbar-brand {
    color: #61dafb !important;

    img {
      animation: App-logo-spin infinite 20s linear;
    }
    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  .navbar-nav {
    .nav-link {
      color: white !important;
      &.active,
      &:hover {
        color: #61dafb !important;
      }
    }
    a {
      &:hover {
        color: #61dafb !important;
      }
    }
  }
}
